* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #489FB5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 10px auto;
    font-size: 3rem;
    width: fit-content;
}

#cash-form {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 20%;
}

form label {
    font-size: 1.4rem;
    text-align: center;
}

#cash {
    margin: 10px auto;
    width: 60%;
    height: 2rem;
    font-size: 1.2rem;
}

#purchase-btn {
    margin: 2px auto;
    width: 40%;
    height: 2rem;
    background-color: #FFA62B;
    font-weight: bold;
    font-size: 1.2rem;
}

#register {
    display: flex;
    width: 30%;
    margin: 10px auto;
    border: 2px solid red;
    height: 400px;
}